<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout :: head">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CHỨC NĂNG</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript"
	src="webjars/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="webjars/jquery/2.2.3/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var url = $('#myModals').attr('action');
		$.ajax({
			contentType : "application/json",
			url : "/login/check",
			data : {
				url : url
			},
			dataType : "json",
			timeout : 10000,
			success : function(data) {
				if (data > 0) {
					$('.them').show();
				} else {
					$('.them').hide();
					alert("Bạn không dùng được chức năng này");
				}
			},
		});

		var href = $('.sach').attr('href');
		$.ajax({
			contentType : "application/json",
			url : "/login/check",
			data : {
				url : url
			},
			dataType : "json",
			timeout : 10000,
			success : function(data) {
				if (data > 0) {
					$('.sach').show();
				} else {
					$('.sach').hide();
					alert("Bạn không dùng được chức năng này");
				}
			}
		});
	});
</script>



</head>
<body class="hold-transition skin-blue fixed sidebar-mini fuelux">
	<div class="wrapper">
		<header th:replace="layout :: header"></header>
		<aside th:replace="layout :: aside"></aside>
		<div class="content-wrapper">

			<section class="content-header">
				<h1>TRANG CHỨC NĂNG</h1>
			</section>
			<!-- Content Header (Page header) -->
			<!-- Main content -->

			<!-- /.content -->
			<div class="container main-content form">
				<div class="row">
					<!-- <h2 class="myclass">Thêm chức năng</h2> -->
					<form th:action="@{/admin/chucnang/saveChucNang}"
						th:object="${CHUCNANG}" id="myModals">
						<!-- <div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header"> -->
						<h2 class="myclass">Thêm chức năng</h2>
						<!-- <button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button> -->
						<!-- </div> -->
						<!-- <div class="modal-body"> -->

						<input type="hidden" th:field="*{id}" name="id">

						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Mã
								chức năng(*):</label> <input type="text" class="form-control"
								placeholder="Nhập mã chức năng" th:field="*{machucnang}">
						</div>

						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Tên
								chức năng(*)</label> <input type="text" class="form-control"
								placeholder="Nhập tên chức năng" th:field="*{tenchucnang}">
						</div>

						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Mã
								Nguồn(*)</label> <input type="text" class="form-control"
								placeholder="Nhập mã nguồn" th:field="*{maapi}">
						</div>

						<div class="form-group">
							<label>Mục Cha</label>
							 <div class="">
							<select class="form-control" th:field="*{parentid}">
								<option th:each="parent : ${PARENTID}" th:value="${parent.id}"
									th:text="${parent.tenchucnang}"></option>
								<option th:value="-1">Không có</option>
							</select>
							</div> 

						</div>

						<!-- </div> -->
						<!-- <div class="modal-footer"> -->
						<button type="submit" class="btn btn-primary">Thêm mới</button>
						<button type="reset" class="btn btn-primary">Huỷ</button>
						<a class="btn btn-primary" href="/admin/chucnang/list">Danh
							sách</a>
						<!-- </div> -->
						<!-- </div>
						</div> -->
					</form>
				</div>
			</div>

		</div>
	</div>
	<footer th:replace="layout :: footer"></footer>
</body>


</html>